<section class="available">
	{{#each files}}
		{{> item this}}
	{{/each}}
</section>
<section class="transfer hide">
	<!-- <nav>
	Transfer: 
	<a href="#transfer-upload">Lokal</a>
	<a href="#transfer-url">Enfernt</a>
	<a href="#transfer-vimeo">Vimeo</a>
</nav>
-->
	<h1 class="beta">Transfer</h1>
	<form url="/" action="POST">
		<div class="upload" id="transfer-upload">
			<div class="input">
				<label for="transfer-upload-file">Lokal (vom Computer)</label>
				<input type="file" id="transfer-upload-file" accept="image/*" style="display: none;">
			</div>
			<div class="title"></div>
			<button class="select">Datei auswählen</button>
		</div>
		<div class="url" id="transfer-url">
			<div class="input">
				<label for="transfer-url">Entfernt (Datei von einer Website)</label>
				<input type="url" id="transfer-url">
			</div>
		</div>
		<div class="vimeo" id="transfer-vimeo">
			<div class="input">
				<label for="transfer-url">Vimeo (ID)</label>
				<input type="text" id="transfer-vimeo-id">
			</div>
		</div>
		<button class="cancel">Transfer abbrechen</button>
		<button class="start">Transfer starten</button>
	</form>
</section>
<footer>
	<div class="selection hide">
		<button class="transfer-toggle">Transfer</button>
		<button class="cancel">Auswahl abbrechen</button>
		<button class="confirm">Auswahl bestätigen</button>
	</div>
</footer>


