<article 
	class="item" 
	data-id="{{id}}"
	data-type="{{type}}"
>
	<img class="preview" src="{{versions.fix2admin.url}}">
	<div class="meta">
		<span class="title">{{title}}</span>
	</div>
</article>

