
<nav>
	<div class="blocktabs-h">
		<a class="blocktab-h active" href="#available">Verfügbare Medien</a> 
		<a class="blocktab-h" href="#transfer">Medien Hinzufügen</a> 
	</div>
	<input 
		type="text" 
		class="search" 
		name="search" 
		placeholder="Filter (z.B. ‘image’, ‘video’, …)"
	/>	
</nav>

<div id="available" class="available pane active">
	<div class="items"></div>

	<div class="actions">
		<input type="checkbox" value="1" checked id="good-night" class="good-night-switch"/>	
		<label for="good-night">Hintergrundfarbe</label>

		<button class="cancel button">Abbrechen</button>
		<button class="confirm button hide">Bestätigen</button>
	</div>
</div>

<div id="transfer" class="transfer pane">
	<div class="queue">
		<div class="drag-message">
			Dateien hier ablegen oder <strong>Mausklick</strong>,
			um den Datei–Browser zu öffnen.
		</div>
		<div class="dragging-message">
			Dateien jetzt loslassen.
		</div>
		<div class="items"></div>
	</div>
	<form url="#" action="POST" class="methods">
		<div class="file-local method hide">
			<input type="file" multiple accept="image/* video/* audio/* application/pdf" style="display: none;">
		</div>
		<div class="file-local-drop method hide">

		</div>
		<!--
		<div class="file-url method">
			<input type="url" name="url" placeholder="https://foo.com/cat.png">
			<button class="confirm button" disabled>Über URL hochladen</button>
		</div>
		<div class="or">– oder –</div>
		-->
		<div class="vimeo method">
			<input 
				type="text" 
				name="vimeo_id"
				pattern="[0-9]+"
				placeholder="Vimeo ID z.b. 1357899"
			>
			<button class="confirm button" disabled>Vimeo Video hochladen</button>
		</div>
	</form>
	<div class="actions">
		<button class="cancel button">Abbrechen</button>
		<button class="start ready progress button">
			<div class="button-text">Hochladen</div>
			<div class="progress-bar"></div>
		</button>
	</div>
</div>

