<section class="available">
	{{#each files}}
		{{> item this}}
	{{/each}}
</section>
<section class="transfer hide">
	<h1 class="beta">Transfer</h1>
	<form url="#" action="POST">
		<div class="upload">
			<div class="input">
				<label>Lokal (vom Computer)</label>
				<input type="file" accept="image/* video/* audio/* application/pdf" style="display: none;">
			</div>
			<div class="title"></div>
			<button class="select button">Datei auswählen</button>
			<div class="drop">
				Datei hier per drag'n drop zum hochladen hinziehen…
			</div>
		</div>
		<div class="url">
			<div class="input">
				<label>Entfernt (Datei von einer Website)</label>
				<input type="url" name="url" placeholder="https://foo.com/cat.png">
			</div>
		</div>
		<div class="vimeo">
			<div class="input">
				<label>Vimeo (ID)</label>
				<input 
					type="text" 
					name="vimeo_id"
					pattern="[0-9]+"
					placeholder="1357899"
				>
			</div>
		</div>
		<button class="cancel">Transfer abbrechen</button>
		<button class="start">Transfer starten</button>
	</form>
</section>
<footer>
	<div class="filter">
		<div class="input">
			<input type="text" class="search" name="search" placeholder="Filter (z.B. `image`, `video`, …)"/>	
		</div>
	</div>
	<div class="selection hide">
		<button class="transfer-toggle button">Transfer</button>
		<button class="cancel button">Auswahl abbrechen</button>
		<button class="confirm button">Auswahl bestätigen</button>
	</div>
</footer>


