<article 
	class="item" 
	data-id="{{id}}"
	data-type="{{type}}"
>
	<div class="meta">
		<span class="title">{{title}}</span>
	</div>
	<div class="overlay"></div>
	<div class="image" style="background-image: url({{versions.fix2admin.url}});"></div>
</article>

