	<div>
		<!-- <label>File (from Computer)</label> -->
		{{newFileTitle}}
		<input type="file" id="new-file" accept="image/*" style="display: none;">
		<button id="select-new-file" {{action "selectNewFile"}}>select file</button>
		<button {{action "createFile"}}>start transfer</button>
	</div>

