<article>
	<h1>Files</h1>

	<nav>
		<a href="#">upload (from computer)</a>
		<a href="#">select from Library</a>
	</nav>

	<section class="upload">
		<div>
			<label>File (from computer)</label>
			<input type="file" name="transfer[form]">
		</div>
		<button class="upload">upload</button>
	</section>
	<section class="available">
		<article class="file">
			<img src="adasd/asdad.png">
			<h1 class="title">jb/asdasd.png</h1>	
			<a href="#" class="select">select</a>
		</article>
	</section>

	<button class="done">OK</button>
</article>
